<div class="splash-page flex-col">
	<div class="splash-title flex-row">
		<h1>Budget app</h1>
	</div>
	<div class="splash-link flex-col">
	<%= link_to "Log in", new_user_session_path%>
	<%= link_to "Sig up", new_user_registration_path%>
	</div>
</div>
